.pakket-aanvragen-form > h2 {
    font-size: 60px;
    color: #6C63FF;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.pakket-aanvragen-page-wrapper {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    & > .footer-section > .footer-container {
        margin: 0 auto;
        padding-top: 30px;
    }
}
#wpforms-form-38 > .wpforms-field-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    width: 60%;
    margin: 0 auto;
}
.pakket-keuze {
    grid-row: 2/3;
    grid-column: 1/3;
    & > div {
        display: block;
        margin-bottom: 0 !important;
        margin: 0 auto !important;
    }
}
.aanvragen-bericht-input {
    grid-row: 3/4;
    grid-column: 1/3;
}
#wpforms-form-38 > .wpforms-field-container > div > label, #wpforms-form-38 > .wpforms-field-container > div > label > .wpforms-required-label  {
    color: #4842AB ;
    font-size: 20px;
}
#wpforms-form-38 > div > div > input[type=text] {
    background-color: white;
    color: white;
    border: none;
    border-bottom: 2px solid  #6C63FF;
    padding: 0;
    max-width: 90%;
}
#wpforms-form-38 > div > div > input[type=email] {
    background-color: white;
    color:  #6C63FF;
    border: none;
    border-bottom: 2px solid  #6C63FF;
    padding: 0;
    max-width: 100%;
}
#wpforms-form-38 > div > div > #wpforms-38-field_4 {
    background-color: white;
    color:  #6C63FF;
    border: none;
    border-bottom: 2px solid  #6C63FF;
    padding: 0;
    max-width: 100%;
}


#wpforms-form-38 > .wpforms-field-container > div:nth-child(3) {
    margin-bottom: 0 !important;
}

#wpforms-submit-38 {
    display: block;
    margin: 0 auto;
    width: 350px;
    border-radius: 50px;
    color: white;
    background-color: #6C63FF;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 80px;
}
// Dropdown
.wpforms-field-container > .pakket-keuze > .wpforms-field-large {
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    color: $darkPurple;
    height: 60px;
    width: 700px;
    background-color: white;
    border: none;
    border-bottom: 2px solid $purple;
    margin-bottom: 30px;
    &:focus {
        border: none;
        border-bottom: 2px solid $purple;
    }
}
// Checkbox
#wpforms-38-field_5-container {
    grid-column: 1/3;
}
#wpforms-38-field_5_1 {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 3.5px solid $darkPurple;
    }
  
    // Box hover
    &:hover + label:before {
      background: $purple;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.171);
    }
  
    // Box checked
    &:checked + label:before {
      background: $purple;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  @media screen and (max-width: 800px) {
    #wpforms-form-38 > .wpforms-field-container > .aanvragen-naam-input {
        grid-column: 1/3;
        grid-row: 1/2;
        & > input {
            max-width: 100%;
        }
    }
    #wpforms-form-38 > .wpforms-field-container > .aanvragen-email-input {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #wpforms-form-38 > .wpforms-field-container > .pakket-keuze {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #wpforms-form-38 > .wpforms-field-container > .aanvragen-bericht-input {
        grid-column: 1/3;
        grid-row: 4/5;
    }
  }
  @media screen and (max-width: 700px) {
    .pakket-aanvragen-form > h2 {
        font-size: 40px;
    }
  }
  @media screen and (max-width: 400px) {
    input[type=text]::placeholder, input[type=email]::placeholder {
        font-size: 12px;
    }
    #wpforms-form-38 > .wpforms-field-container > div > label {
        font-size: 16px;
    }
    .wpforms-field-container > .pakket-keuze > .wpforms-field-large {
        font-size: 14px;
    }
    #wpforms-form-38 > .wpforms-field-container > div {
        margin-bottom: 10px !important;
    }
    #wpforms-submit-38 {
        display: block;
        margin: 0 auto;
        width: 150px;
        border-radius: 50px;
        color: white;
        background-color: #6C63FF;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 80px;
    }
  
  }
  
 