.footer-section {
  background-color: #4842AB;
}
.footer-container {
  width: 80%;
  font-weight: 600;
  color: white;
}
.footer-bedrijf-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: .2fr 1fr;
  & > h3 {
    margin: auto 0;
    font-size: 24px;
    margin-left: 20px;
    font-weight: 600;
  }
  & > p {
    grid-column: 1/3;
    margin: auto 0;
  }
}
.footer-container {
  margin: 30px 0 30px 0;
}
.footer-contact {
  margin: 0 15%;
  & > div {
    display: grid;
    grid-template-rows: 70px auto auto auto;
    & > h3 {
      margin: auto 0;
      font-weight: 600;
      font-size: 24px;
    }
    & > div > p {
      margin: 0;
    }
    & > div > p > a {
      color: white;
      text-decoration-line: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.footer-verkennen {
  display: grid;
  grid-template-rows: 70px auto;
  & > h3 {
    color: white;
    font-size: 24px;
    margin: auto 0;
    font-weight: 600;
  }
  & > div > ul {
    padding: 0;
    & > li {
      list-style: none;
      & > a {
        color: white;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.footer-copyright {
  margin-top: 5px;
}
.socialIcons{
  text-align: center;
  padding-right: 0;
  & > a {
    text-decoration: none;
    color: white;
     margin: 0 5px;
    &:hover {
    color: #9893f5;
  }
  }
  font-size: 26px;
}

@media screen and (max-width: 1200px) {
 .footer-contact {
   margin: 0 10%;
 }
}
@media screen and (max-width: 990px) {
  .footer-contact {
    margin: 0 2%;
  }
 }
 @media screen and (max-width: 770px) {
   .footer-bedrijf-info {
     display: grid;
     grid-template-rows: 70px;
     grid-template-columns: 1fr;
     margin: 0 auto;
     & > h3 {
      margin: auto 0;
      margin-left: 20px;
      display: none;
    }
     & > p {
       display: none;
     }
     & > img {
      margin: 0 auto;
    }
   }
  .footer-container {
    text-align: center;
    & > .row {
      display: grid;
      grid-template-rows: auto 1fr 1fr;
    }
    & > .footer-row {
      display: grid;
      grid-template-rows: auto 1fr ;
      & > .footer-socials {
        grid-row: 1/2;
      }
    }
  }
  .footer-socials > .float-right {
    float: none !important;
    font-size: 30px;
  }
 }

