.footer-section {
  background-color: #4842AB;
}
.footer-container {
  width: 80%;
  font-weight: 600;
  color: white;
}
.footer-bedrijf-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: .2fr 1fr;
  & > h3 {
    margin: auto 0;
    font-size: 24px;
    margin-left: 20px;
    font-weight: 600;
  }
  & > p {
    grid-column: 1/3;
    margin: auto 0;
  }
}
.footer-container {
  margin: 30px 0 30px 0;
}
.footer-contact {
  margin: 0 100px;
  & > div {
    display: grid;
    grid-template-rows: 70px auto auto auto;
    & > h3 {
      margin: auto 0;
      font-weight: 600;
      font-size: 24px;
    }
    & > div > p {
      margin: 0;
    }
  }
}
