#homeHeader{
    background-color: $purpleHeader;
    height: 60vh;
    width: 100vw;
}

#section1{
    height: 100vh;
}

.headerContent{
    margin-top: 15vh;
    margin-left: 5vw;
    & > h1{
        font-size: 65px;
        color: $darkPurple;
        font-weight: 600;
    } & > p{
        font-size: 17px;
        color: $darkPurple;
        max-width: 33vw;
    }
}

.fa-play-circle{
    font-size: 60px;
}

.bedrijfsVideo{
    display: table;
    color: $darkPurple;
    font-weight: bold;
    &:hover{
        color: $darkPurple;
        text-decoration: none;
    } & > p{
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }
}

.headerIllu{
    margin-left: -5vw;
    margin-top: -4.3vh;
}

.headerIllu > img{
    width: 78vh;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: $darkPurple!important;
}

#fp-nav ul li .fp-tooltip{
    display: none!important;
}

@media screen and (max-width: 1199px) {
    #homeHeader{
        height: 100vh;
        margin-top: 0;
        padding-top: -76px;
    }

    .headerContent{
        margin-left: 0;
        margin-top: 2vh;
        text-align: center;
        & > p{
            margin: 0 auto;
            max-width: 100vw;
            width: 80vw;
        }
    }

    .bedrijfsVideo{
        margin: 0 auto;
        margin-top: 20px;
    }

    .headerIllu{
        margin-left: 0;
        margin-top: 2vh;
        & > img{
            width: 45vw;
        }
    }
}

@media screen and (max-width: 991px) {
    .custom-logo-link > img{
        padding-left: 0;
        position: absolute;
        left: 50px;
        width: 60px;
        height: 65px;
        top: 30px;
    }

    #menu-powermarketing{
        text-align: right;
    }
}

@media screen and (max-width: 420px) {
    .headerIllu {
        display: none;
    }

    .headerContent {
        margin-top: 7vh;
        & > h1{
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 320px) {
    .headerContent{
        margin-top: 2vh;
    }
}

@media screen and (width: 1024px){
    .headerIllu > img{
        width: 35vw;
    }
}

@media screen and (max-width: 540px) {
    .headerIllu {
        display: none;
    }

    .headerContent {
        margin-top: 8vh;
    }
}

@media screen and (width: 280px){
    .fa-play-circle{
        font-size: 45px;
    }

    .bedrijfsVideo > p{
        font-size: 15px;
    }

    .headerContent > h1{
        font-size: 35px;
    }

    .custom-logo-link > img{
        top: 20px;
    }
}

@media screen and (width: 360px){
    .custom-logo-link > img {
        top: 15px;
    }
}

@media screen and (max-width: 1199px) {
    #homeHeader{
        height: 85vh;
    }
}