header{
    background-color: $purpleHeader;
    height: 60vh;
    width: 100vw;
    margin-top: 15vh;
}

.headerContent{
    display: table-cell!important;
    vertical-align: middle;
    margin-left: 4vw;
    & > h1{
        font-size: 65px;
        color: $darkPurple;
        font-weight: 600;
    } & > p{
        font-size: 17px;
        color: $darkPurple;
        max-width: 33vw;
    }
}

.fa-play-circle{
    font-size: 60px;
}

.bedrijfsVideo{
    display: table;
    color: $darkPurple;
    font-weight: bold;
    &:hover{
        color: $darkPurple;
        text-decoration: none;
    } & > p{
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }
}

.headerIllu{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}

.headerIllu > img{
    height: auto!important;
    width: 78vh;
}

.headerGrid{
    display: table;
}

.verticale{
    display: grid!important;
    grid-template-columns: 50vw 50vw;
}