.modal{
    &-content{
        border-radius: 25px!important;
        text-align: center;
        color: $darkPurple;
        &-over{
            font-weight: 600;
        }
    } &-title{
        margin: 0 auto;
        width: 100%;
    } &-header{
        background-color: $purple!important;
        color: white!important;
        border-radius: 25px 25px 0 0!important;
    } &-project{
        font-weight: bold;
        &-container{
            margin-top: 30px;
        } &-image{
            margin: 0 auto;
            & > img{
                width: 90%;
            }
        }
    } &-portfolio-button{
        background-color: $purple!important;
        color: white!important;
        margin-top: 30px;
        margin-bottom: 15px;
    }
}

.close{
    color: white!important;
    opacity: 1!important;
}

@media screen and (max-width: 767px){
    .modal{
        &-project{
            font-size: 25px!important;
             &-image{
                width: 80%!important;
            } &-info{
                margin-top: 30px!important;
                width: 80%!important;
                margin: 0 auto;
            } &-title{
                font-size: 23px;
                font-weight: bold;
            }
        } &-portfolio-button{
            margin-top: 15px!important;
            margin-bottom: 7.5px!important;
        } &-content{
            &-over{
                width: 80%!important;
                margin: 0 auto;
            }
        }
    }
}