.paketten{
    &__title{
    font-size: 64px!important;
    font-weight: 600;
    color: $purple;
    margin-top: -40px;
    } &__omschrijving{
        width: 45vw;
        margin: 0 auto;
        color: $darkPurple;
        font-weight: 600;
    }
}

.owl-paketten{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70vw!important;
    margin: 0 auto;
}

.basic, .prenium, .standard{
    width: 250px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #444444;
    margin-top: 90px;
    margin-bottom: 90px;
}

.standard{
    background-color: $purple;
    transform: scale(1.1);
    color: white;
    & > h2{
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
    } & > h3{
        font-weight: 600;
        margin-top: -10px;
    } & > a > button{
        background-color: white;
        padding: 10px 30px;
        border: none;
        color: $darkPurple;
        font-weight: bold;
        border-radius: 50px;
    }
}

.basic, .prenium{
    color: $darkPurple;
    & > h2{
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
    } & > h3{
        font-weight: 600;
        margin-top: -10px;
    } & > a > button{
        background-color: $darkPurple;
        padding: 10px 30px;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 50px;
    }
}

.basicIcon{
    padding-top: 60px;
}

.preniumIcon{
    padding-top: 40px;
}

.pakketIcon{
    width: 60px!important;
    margin: 0 auto;
}

.standardIcon{
    padding-top: 45px;
}