.paketten{
    &__title{
    font-size: 64px!important;
    font-weight: 600;
    color: $purple;
    margin-top: -40px;
    } &__omschrijving{
        width: 45vw;
        margin: 0 auto;
        color: $darkPurple;
        font-weight: 600;
    }
}
.basic > .pakketItems {
    margin: 50px 0 50px;
}
.pakettenCarousel{
    width: 60%;
    margin: 0 auto;
}

.basic, .prenium, .standard{
    width: 250px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #444444;
    margin-top: 90px;
    margin-bottom: 90px;
}

.standard{
    background-color: $purple;
    transform: scale(1.1);
    color: white;
    & > h2{
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
    } & > h3{
        font-weight: 600;
        margin-top: -10px;
    } & > a > button{
        background-color: white;
        padding: 10px 30px;
        border: none;
        color: $darkPurple;
        font-weight: bold;
        border-radius: 50px;
    }
}

.basic, .prenium{
    color: $darkPurple;
    & > h2{
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
    } & > h3{
        font-weight: 600;
        margin-top: -10px;
    } & > a > button{
        background-color: $darkPurple;
        padding: 10px 30px;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 50px;
    }
}

.basicIcon{
    padding-top: 60px;
}

.preniumIcon{
    padding-top: 40px;
}

.pakketIcon{
    width: 60px!important;
    margin: 0 auto;
}

.standardIcon{
    padding-top: 45px;
}

.paketten__box{
    margin-top: 10vh;
}

@media screen and (max-width: 1100px) {
    .pakettenCarousel{
        width: 90%;
    }

    .paketten__title{
        font-size: 50px!important;
    }

    .paketten__omschrijving{
        width: 80vw;
    }
}

@media screen and (max-width: 600px){
    .paketten__title{
        font-size: 40px!important;
    }

    .paketten__omschrijving{
        width: 90vw!important;
    }
}

@media screen and (max-width: 380px) {
    .pakettenCarousel {
        margin-top: -5vh;
    }
}

@media screen and (max-width: 360px) and (max-width: 775px) {
    .paketten__omschrijving{
        display: none;
    }

    .pakettenCarousel{
        margin-top: -10vh;
    }
}

@media screen and (max-width: 411px){
    #homeHeader{
        height: 85vh;
    }

    .pakettenCarousel{
        margin-top: -9vh;
    }
}

@media screen and (max-width: 411px) and (height: 823px) {
    #homeHeader{
        height: 85vh;
    }

    .pakettenCarousel{
        margin-top: -2vh;
    }
}

@media screen and (max-width: 320px){
    .paketten__title {
        font-size: 25px!important;
    }

    .pakettenCarousel{
        margin-top: -12vh;
        width: 100vw;
    }

    .custom-logo-link > img{
        top: 10px;
    }
}

@media screen and (max-width: 414px){
    #homeHeader{
        height: 85vh;
    }

    .paketten__omschrijving {
        display: none;
    }
}

@media screen and (max-width: 375px){
    #homeHeader{
        height: 85vh;
    }

    .paketten__omschrijving{
        display: block;
    }
}

@media screen and (max-width: 1024px){
    .paketten__box{
        margin-top: -20vh;
    }
}

@media screen and (max-width: 540px){
    .paketten__box{
        margin-top: 10vh;
    }

    .pakettenCarousel{
        margin-top: -10vh;
    }
}

@media screen and (max-width: 280px){
    .paketten__omschrijving{
        display: none;
    }
}