.team-section-container {
    margin: 0 auto;
}
.team-section-container > h2 {
    color: #6C63FF;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    text-align: center;
}
.team-section-container > p {
    text-align: center;
    width: 45%;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 600;
    color: #7D7D82;
}
.team-container {
    width: 85%;
    margin: 0 auto;
}
.team-kaartje {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.team-kaartje > img {
    width: 100%;
    border-radius: 10px;
}
.team-kaartje > h3 {
    margin-top: 10px;
    color: #4842AB;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: -5px;
}
.team-kaartje > p {
    color: #6C63FF;
    font-weight: 600;
    font-size: 18px;
}
.team-link {
    display: table;
    & p {
        display: table-cell;
        vertical-align: middle;
        margin-top: 5px;
        font-size: 20px;
        font-weight: 600;
        color: #4842AB;
        padding-left: 7.5px;
        &:hover{
            color: #6C63FF;
            transition: .5s;
        }
    } & > img {
        width: 40px;
        height: auto;
        display: block;
    } &:hover{
        text-decoration: none;
    }
}
