// Montserrat font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    margin-top: 0px!important;
}

@media screen and (max-width: 782px) {
    html{
        margin-top: 0px!important;
    }
}

#fullpage {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}

#section1 > .fp-tableCell{
    display: block !important;
}
@import 'vars';

@import 'nav';
@import 'header';
@import 'paketten';
@import 'team';
@import 'contact';
@import 'footer';
@import 'modals';
@import '404';

